body {
    overflow: hidden;
}

#main {
    width: 100%;
    margin-top: 10.5rem;
    margin-bottom: 2rem;
}

.product-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-item {
    width: 22%;
    height: 450px;
    margin-bottom: 2.5rem;
    margin-right: 1.5rem;
    border: 1px solid gainsboro;
}

.product-item-image {
    width: 100%;
    height: 75%;
    position: relative;
    overflow: hidden;
    background-color: gainsboro;
}

.product-item-image img {
    width: 100%;
    height: 100%;
}

.product-item-brand {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem 1rem;
}

.product-item-offer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .8rem;
    background-color: black;
    color: #fff;
}

.product-item-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 .5rem;
}

.product-item-title {
    padding: .5rem 0;
    color: black;
    font-weight: 700;
}

.product-item-price {
    padding: .5rem 0;
    text-align: left;
}

.product-item-price span {
    color: #000;
    font-weight: 700s;
}
